.book-details {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin: 0 auto;
    position: absolute;
    left: 20%;
    right: 20%;
    border-radius: 10px;
    display: grid;
    padding: 20px;
    width: 1400px;
    height: 1000px;
}

.book-details h2 {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

.img-containerD {
    margin: 0 auto;
}

.goBack {
    width: 140px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.book-details p,
h4,
h5,
h6 {
    text-align: center;
    font-size: 1.4rem;
    font-family: cursive;
}